.container-fluid
  .row
    .left_column.col-md-5.sky
      .row
        .logo.text-center
          = image_tag "/images/hfc_logo@1x.png"
        .welcomes.text-center
          = image_tag "/images/welcome@1x.png"
        .newcomer.text-center.row
          %h3
        .newcomer_avatar.text-center.row
          = image_tag "/images/visitor_art@1x.png", class: "img-circle img-responsive"
        .sun.text-center
          = image_tag "/images/sun@1x.png"
        .town.text-center
          = image_tag "/images/city@1x.png"
        .wifi.col-md-6.col-md-offset-3
          .row
            %h3.register_url http://www.happyfuncorp.com/register
          .row
            %h3.pull-left.uname happyfuncorp3 
            %h3.pull-right.pword happiness4u 
    .right_column.col-md-7.board.med
      .row
        .worker.text-center
          .pin_and_avatar_container
            .pin_rope
              = image_tag "/images/pin_rope@1x.png", class: "img-responsive"
            .avatar_container.text-center
              =# image_tag "/images/visitor_art@1x.png", class: "img-circle img-responsive"
              = image_tag "/images/visitor_art@1x.png"
          %h3.tape Ted 
            
